html, body, #container {
   margin: 0;
   padding: 0;
}

#container {
   font-family: verdana, sans-serif;
}

#header {
  margin-top: 2em;
  margin-bottom: 6em;
}

#header h1 {
  font-size: 6.2em;
  font-family: georgia, serif;
  text-align: center;
  margin-bottom: 0em;
}

#header p {
  margin-top: 0;
  text-align: center;
}

#content {
   margin: 0 auto 0em auto;
   padding-bottom: 6em;
   text-align: center;
}

#content img {
   vertical-align: top;
   width: auto;
   max-width: 100%;
   max-height: 100%;
}

#content a {
   text-decoration: none;
   font-size: 1em;
}
#content a:link { color: #999; }
#content a:visited { color: #999; }
#content a:hover { color: #000; }
#content a:active { color: #999; }

a.next-page, a.prev-page {
  display: inline-block;
  padding: 0.62em;
  background: #EEE;
}

.info a { text-decoration: underline; }

.info {
   margin: 6em 0em 0em 0.62em;
   text-align: left;
   border-left: 4px solid #CCC;
   padding-left: 0.4em;
   line-height: 1em;
}
.info:hover {
   border-left: 4px solid #000;
}
.info .title {
   margin: -4px 0 0 0;
   padding: 0;
   line-height: 1em;
   text-transform: uppercase;
   font-size: 1.6em;
}
.info .description {
   margin: 0 0 -3px 0;
   padding: 0;
   font-size: 0.9em;
   color: #999999;
}

.info .fullsize {
  margin-top: 0.38em;
}
